/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 30px auto;
  width: 80%;
}

ul {
  list-style-type: none;
  width: 100%;
}

li {
  display: inline-block;
  width: 32%;
  height: 600px;
  margin-right: 10px;
  background-size: cover;
  background-position: center top;
  position: relative;
}

li:first-child {
  background-image: url("../img/1.webp");
}

li:nth-child(2) {
  background-image: url("../img/2.webp");
}

li:last-child {
  background-image: url("../img/3.webp");
}

.wishlist {
  position: absolute;
  top: 20px;
  right: 0;
}

.badge {
  position: absolute;
  bottom: 20px;
  left: 0;
}
