/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 30px auto 100px auto;
  width: 80%;
}

ul {
  list-style-type: none;
  width: 100%;
}
ul.second-row {
  margin-top: 100px;
}
li {
  display: inline-block;
  width: 32%;
  height: 530px;
  margin-right: 10px;
  background-size: cover;
  background-position: center top;
  position: relative;
}

.badge-1 {
  background-color: #eb0037;
  padding: 5px 5px;
}

.badge-2 {
  background-color: #00875a;
  padding: 5px 5px;
}

/* Main */

.first-row li:first-child {
  background-image: url("../img/1.webp");
}

.first-row li:nth-child(2) {
  background-image: url("../img/2.webp");
}

.first-row li:last-child {
  background-image: url("../img/3.webp");
}

.second-row li:first-child {
  background-image: url("../img/4.webp");
}

.second-row li:nth-child(2) {
  background-image: url("../img/5.webp");
}

.second-row li:last-child {
  background-image: url("../img/6.webp");
}

.wishlist {
  position: absolute;
  top: 20px;
  right: 0;
  background-color: #fff;
  text-align: center;
  padding: 8px;
  font-size: 20px;
  width: 40px;
  height: 40px;
}

.badge {
  position: absolute;
  bottom: 20px;
  left: 0;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
}

.info-product {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  line-height: 18px;
}

.info-product .product-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

.info-product .brand {
  text-transform: capitalize;
  color: #555454;
  font-size: 12px;
}

.info-product .price {
  font-size: 13px;
  font-weight: 700;
  color: #eb0037;
}

.info-product .price .original-price {
  text-decoration: line-through;
  color: #555454;
  font-weight: 400;
}

.wishlist {
}

/* Transitions */
.first-row li:first-child:hover {
  background-image: url("../img/1b.webp");
}

.first-row li:nth-child(2):hover {
  background-image: url("../img/2b.webp");
}

.first-row li:last-child:hover {
  background-image: url("../img/3b.webp");
}

.second-row li:first-child:hover {
  background-image: url("../img/4b.webp");
}

.second-row li:nth-child(2):hover {
  background-image: url("../img/5b.webp");
}

.second-row li:last-child:hover {
  background-image: url("../img/6b.webp");
}

li:hover .wishlist {
  color: #eb0037;
}

.wishlist:hover {
  cursor: pointer;
}
